/* variabili */

:root{
    --redT: rgb(166, 21, 13);
    --grey: rgb(27, 34, 36);
    --white: rgb(212, 208, 208);
}

/* stile testi */

h1, h2, a{
    color: var(--redT) !important;
    font-family: orbitron, sans-serif;
    font-weight: 500;
}

p, button, li{
    color: var(--redT) !important;
    font-family: lexend, sans-serif;
    font-weight: 200;
}

/* stile body */

body{
    background-color: var(--white);
}

/* stile navbar */

.navbar{
    background-color: var(--grey);
    z-index: 2;
}

.navbar-toggler{
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}

/* stile sezione header */

.header{
    width: 100%;
}

.img-carousel{
    height: 80vh;
}

.h1{
    letter-spacing: 4px;
    font-size: 60px;
}

/* stile sezione giochi */

.separatore-1{
    background-color: var(--grey);
    letter-spacing: 26px;
}

.card-img-top{
    height: 200px;
}

/* stile sezione disegni */

.accordion-button{
    background-color: var(--grey);
}

.disegni{
    height: 350px;
}

/* stile sezione footer */

footer{
    background-color: var(--grey);
}

ul{
    list-style-type: none;
}

.torna-su{
    font-size: 2rem;
}

.social{
    margin-left: 250px;
    margin-top: 5px;

}

/* media querries */

/* media header */

@media screen and (max-width:600px) {

    .img-carousel{
        height: 40vh;
    }
    
    /* media disegni */
    
    .disegni{
        height: 30vh;
    }

    /* media footer */

    .info{
        display: flex;
        justify-content: space-evenly;
        font-size: 13px;
    }

    .social{
        display: flex;
        justify-content: space-evenly;
        margin: 0px;
        margin-top: 10px;
        padding: 0;

    }
}
