/* variabili */

:root{
    --redT: rgb(166, 21, 13);
    --grey: rgb(27, 34, 36);
    --white: rgb(212, 208, 208);
}

/* stile testi */

h1, h2, a{
    color: var(--redT) !important;
    font-family: orbitron, sans-serif;
    font-weight: 500;
}

p, button{
    color: var(--redT) !important;
    font-family: lexend, sans-serif;
    font-weight: 200;
}

/* stile body */

body{
    background-color: var(--white);
}

/* stile navbar */

.navbar{
    background-color: var(--grey);
    position: sticky;
}

.navbar-toggler{
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}

/* stile sezione header */

.header{
    width: 100%;
}

.img-carousel{
    height: 80vh;
}

.h1{
    letter-spacing: 4px;
    font-size: 60px;
}



/* media querries */

/* media header */

@media screen and (max-width:600px) {

    .img-carousel{
        height: 40vh;
    }
    
}